{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ include('member/_change_password_form.html.twig') }}
{% endblock %}
