{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <h1>Sign Up</h1>

    {{ include('member/_signup_form.html.twig') }}

    <a href="{{ path('nomination_index') }}">back to list</a>
{% endblock %}
