#login-page .form-field label {
    display: inline-block;
    width: 5em;
}

main header {
    text-align: center;
}

a.nominate {
    display: table;
    width: auto;
    margin: 0 auto 1em;
    padding: 0.25em 0.5em;
    border: 2px solid;
    text-decoration: none;
}

table#nominations {
    margin: auto;
    min-width: 50%;
    max-width: 100%;
}
#nominations th {
    text-align: left;
}
#nominations th.name {
    min-width: 8em;
}
#nominations .empty {
    text-align: center;
    font-style: italic;
}
input.vote-yes.btn, input.vote-no.btn {
    padding: 0.25em 1em;
    border: 2px solid black;
    color: white;
}
input.vote-yes.btn {
    background-color: #18a314;
}

input.vote-no.btn {
    background-color: #a41419;
}

input.btn.voted {
    border: 2px solid white;
    font-weight:bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}
