{% extends 'base.html.twig' %}

{% block title %}Nominate Charity{% endblock %}

{% block body %}
    <h1>Nominate Charity</h1>

    {{ include('nomination/_form.html.twig') }}

    <a href="{{ path('nomination_index') }}">back to list</a>
{% endblock %}
